<!DOCTYPE html>
<html>
<head>
  <title>Lowhall</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<%
  session['password'] = request['login'] if request['login']
  if session['password'] != 'hp'
%>

  <form method="POST" action="/">
    <input name="login"/><input type="submit" value="Enter password"/>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>

<% else %>
  <body>
  <table width="600" border="0">
    <tr><!-- Row 1 -->
      <td>

        <table width="680" border="0" cellspacing="0" cellpadding="0" class="header">

          <tr valign="middle" class="headermain"><!-- Row 1 -->
            <td class="lowhall">Low Hall</td><!-- Col 2 -->
            <td>
              <table width="100%" border="0">

                <tr><!-- Row 1 -->
                  <td class="links" width="33%"><a
                    href="/">Home</a></td><!-- Col 1 -->
                  <td class="links" width="33%"><a
                    href="activities">What to do</a></td><!-- Col 2 -->
                  <td class="links"><a
                    href="location">Location</a></td><!-- Col 3 --></tr>
                <tr><!-- Row 2 -->
                  <td class="links" width="33%"><a
                    href="accommodation">Accommodation</a></td><!-- Col 1 -->
                  <td class="links" width="33%"><a
                    href="pictures">Pictures</a></td><!-- Col 2 -->
                  <td class="links"><a
                    href="contact">Contact</a></td><!-- Col 3 --></tr>
              </table>
            </td>
          </tr>

          <tr height="3">
            <Td colspan=2>

            </TD>
          </tr>
          <tr>
            <Td colspan=2 class="headergrad">
              &nbsp;
            </TD>
          </tr>
        </table>
        <BR>
        <%= yield %>

      </td>
    </tr>
  </table>


  </body>
  </html>

<% end %>
